<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Sign in page</title>


    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="css/styles.css" rel="stylesheet">


</head>

<body class="text-center bg-dark text-white">

    <main class="form-signin">

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <label for="inputEmail" class="visually-hidden">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required
            autofocus>
        <label for="inputPassword" class="visually-hidden">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary" onclick="location.href='/signup'">Sign up</button>
        <button class="btn btn-lg btn-primary" id="signinButton">Sign in</button>

        <script>
            document.getElementById("signinButton").addEventListener("click", sendRequest);

            function sendRequest() {
                const request = new XMLHttpRequest();
                const url = "http://localhost:3000/login";
                request.open("POST", url, true);
                request.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                let email = document.getElementById("inputEmail").value;
                let password = document.getElementById("inputPassword").value;

                request.send(`email=${email}&password=${password}`);
                
                request.onload = function () {
                    //when username, password and userToken match
                    if (this.status === 200) {
                        console.log("response:" + this.responseText);
                        let response = JSON.parse(this.responseText);
                        //store username and userToken temporarily, so that they can be accessed from other ejs files
                        sessionStorage.setItem("userToken", response.userToken);
                        sessionStorage.setItem("email", response.email);
                        window.location.href = "http://" + window.location.host + "/upload";
                    }
                    else if (this.responseText === "Wrong password"){
                        alert("Wrong password");
                    }
                    else if (this.responseText === "email doesn't exsit!"){
                        alert("email doesn't exsit!");
                    }
                }

             

            }

        </script>


    </main>



</body>

</html>